<form (ngSubmit)="formSubmit()">
    <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Nombre</label>
        <input type="text" class="form-control" name="txt-Nombre" id="txtNombre" placeholder="Ingrese su nombre" [(ngModel)]="Cliente.nombre">
    </div>
    <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Email</label>
        <input type="email" name="email" class="form-control" id="exampleFormControlInput1"
            placeholder="Ingrese su email" [(ngModel)]="Cliente.email">
    </div>
    <div class="mb-3">
        <label for="exampleFormControlTextarea1" class="form-label">Comentarios</label>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
    </div>
    <div class="mb-3">
        <input type="submit" value="enviar" class="btn btn-primary">
    </div>
</form>

<div class="container">
    <div class="row">
        <div class="table">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Email</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let persona of _clienteService.listaPersonas">
                    <td> {{persona.nombre}}</td>
                    <td> {{persona.email}}</td>
                </tr>
            </tbody>
        </div>
    </div>
</div>