<!--ul *ngif="mostrarUI">
    <li *ngFor="let nombre of _servicio1Service.arreglo">{{ nombre }}</li>
</ul>-->

<img style="width:500px;" src="https://target.scene7.com/is/image/Target/GUEST_d0eb439c-3f20-4eb7-be83-471c10b67778" alt="">

<div>
    <a routerLink="/">Ir a inicio</a>
</div>

<div class=" container">
    <div class="row">
        <input type="button" value="Guardar" (click)="guardar()" class="btn btn-primary">
        <input type="button" value="Limpiar" (click)="limpiar()" class="btn btn-danger">
    </div>

</div>
